/* Utility Styles */
.bold {
  font-weight: bold;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "nav nav"
    "side-bar books";
  min-height: 100vh;
}

.nav {
  grid-area: nav;
  z-index: 2;
}
.side-bar {
  grid-area: side-bar;
  z-index: 1;
}
.books {
  grid-area: books;
}

/* Media Queries for Responsiveness */

@media only screen and (max-width: 999px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 15rem 1fr;
    grid-template-areas:
      "nav"
      "side-bar"
      "books";
  }
}
